[config]
decomposed_dir = ./decomposed_dir/ 
output_dir = ./output_dir/
framework = tensorflow,caffe,sensetime,ncnn,mace,mxnet,uls,meitu,microblink,pytorch,onnx,megvii,sensory,paddle,feathercnn,deeplearning4j
ncpu = 8 
max_func_num = 50

[script]
top = ./intercept_scripts/intercept_template_top.js
bottom = ./intercept_scripts/intercept_template_bottom.js
shell_top = ./intercept_scripts/shell_template_top.sh
shell_mid = ./intercept_scripts/shell_template_mid.sh
analyzer_path = ./model_encoding_analyzer/
analyzer_list = header.sh,extractpb.sh,hexdumper.sh,hexdumperraw.sh 

[model_pattern]
suffix = model,rf,tflite,param,androidmodel,rpnmodel,prototxt,pbtxt,caffemodel,caffe,modle,lite,ckpt,tensorflow,dlc,tfl,manis,xnft,rtttl,onnx,pt,ptl,torchscript,onnx,megvii,sensory,ncnn,mtnet
keywords = model,uls,detection,recognition,tracker,detect,trained,MobileNet
ex_suffix = jpg,json,xml,png,label,ttf,gif,glsl,tsv,webp,svg,lua,html,css,pnng,js,jppg,bincfg,jar,pack,fnt,params,matab,texab,prefab,modab,ab,u,manifest,unity3d,dll,md5anim,md5mesh,mtl,mp3,

[lib_pattern]
keywords = tf,tensorflow,caffe,uls,sensetime,st_mobile,meitu,microblink,pytorch,onnx,megvii,sensory,paddle,feathercnn,deeplearning4j

[symbol_pattern]
keywords = tensorflow,sensetime,caffe

[function_pattern]
magic_str = free 
filter_str = free_exception,free_dependent_exception 

[free_pattern]
magic_str = decrypt,init,load,model,start,create

[tensorflow]
magic_str = tensorflow, Java_org_tensorflow
is_open_source = yes

[caffe]
magic_str = caffe
is_open_source = yes


[sensetime]
magic_str = sensetime, st_mobile, senseme
is_open_source = no

[ncnn]
magic_str = ModelBinFromDataReaderPrivate, ModelBin, ModelBinFromMatArrayPrivate
is_open_source = yes

[mace]
magic_str = libmace, mace_input_node
is_open_source = yes

[mxnet]
magic_str = mxnet
is_open_source = yes

[uls]
magic_str = ulsTracker, ulsface 
is_open_source = yes

[meitu]
magic_str = manisEngine, Java_com_meitu
is_open_source = no

[microblink]
magic_str = microblink, Java_com_microblink
is_open_source = no

[pytorch]
magic_str = pytorch
is_open_source = yes

[onnx]
magic_str = ONNXMLModelAccessor
is_open_source = yes

[megvii]
magic_str = megvii, Java_com_megvii
is_open_source = no

[sensory]
magic_str = sensory
is_open_source = no 

[deeplearning4j]
magic_str = deeplearning4j, libnd4j
is_open_source = yes

[paddle]
magic_str = paddle, PaddlePredictor
is_open_source = yes

[feathercnn]
magic_str = feathercnn, FindBottomIDByName
is_open_source = yes



